@import "tailwindcss";

:root {
  --background: #F0F4F9;
  --foreground: #1F1F1F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}